---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hahatay</title>
</head>
<body>

<h1>Hahatay Community Network</h1>

<h2>About</h2>

<p><a href="https://hahatay.org">Hahatay</a> is a non-profit Senegalese asociation that wrok towards community development, aimed at providing effective responses to forced migrations in Africa that deprive its youth of hope. The organization's objective is to empower and involve young people to become true protagonists in improving their lives, and to be a meeting space that connects individuals committed to integral human development.</p>

<h2>Purpose</h2>

<p>This project is born to with the idea of providing a digitalisation infrastructure to an already successful social, working and creative environment such is Hahatay. The goal is to provide a stable network connectivity across de diferent spaces that Hahatay comprises, as well as self-hosted services to improve the daily activities of the association.</p>

<p>The network infrastructure is entirely based on <strong>open-source</strong> software and slowly built in a  <strong>humble budget</strong>. The goal of the project is also to make public the process of how a campus-like network is deployed, maintained and monitored. We are transparent on which hardware and software technology stack we use, in order to inspire more people from the community networks community to embrace self-hosted projects and target other rural areas around the world.</p>

<p>This is a non-profit project and it's driven entirely by volunteers and students, mostly from the Polytechnic University of Catalonia (UPC), under the umbrella of the AUCOOP association, that dedicate their free time on collaborate into tasks of the project.</p>

<h2>Thanks to Contributors</h2>

<ul>
<li>The project is mainly funded by the CCD at the UPC (Universitat Politècnica de Catalunya), grants 2023-A024 (5000€), 2022-A018 (3000€), 2021-F0003 (3000€).</li>
<li>Also, this year project has been funded by the Catalan Chapter of the Internet Society, under the Beyond the Net Small Grant (4970€).</li>
<li>All the laptops are reconditionated, provided by Labdoo, an amazing volunteer-driven project that provides a second life to laptops that people or companies do not need any more. The donated laptops, status and more information are publicly availble in the <a href="https://platform.labdoo.org/ca/edoovillage?e=108374">Hahatay Edoovillage in the Labdoo website</a>.</li>
<li>Special thanks also to <a href="https://www.typeform.com/">Typeform</a> and <a href="https://www.clariba.com/">Clariba</a> who donated with a huge amount of good-quality machines.</li>
</ul>

</body>
</html>
